<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.digt.mybatis_dev.dao.AddressMapper">
	
	<resultMap type="Address" id="AddressResult">
		<id property="addrId" column="addr_id"/>
		<result property="street" column="street"/>
		<result property="city" column="city"/>
		<result property="state" column="state"/>
		<result property="zip" column="zip"/>
		<result property="country" column="country"/>
	</resultMap>
	<sql id="selectSql">
		SELECT ADDR_ID, STREET, CITY, STATE, ZIP, COUNTRY FROM addresses
		
	</sql>
	<sql id="whereSql">
		where STATE=#{state} and zip=#{zip}
	</sql>
	SELECT ADDR_ID, STREET, CITY, STATE, ZIP, COUNTRY FROM addresses where STATE=? and zip=? 
	<select id="selectAddressByAddrIdAndState" resultMap="AddressResult">
		<include refid="selectSql"/>
		where STATE=#{param1} and zip=#{param2}
	</select>
	
	<select id="selectAddressByAddrIdAndStateForMap" parameterType="map" resultMap="AddressResult">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="selectAddressByAddresLimit" resultMap="AddressResult"  >
		<include refid="selectSql"></include>
	</select>
</mapper>


